
<h2>
  Title: <%= @item.title %>
</h2>

<h3>
    Author: <%= @item.author %>
</h3>
<h3>
    Publisher: <%= @item.publisher %>
</h3>
<h3>
    Genre: <%= @item.genre %>
</h3>

<%= link_to 'Back', 'javascript:history.back()' %>
